<div class="container-fluid">    
      <div class="row">
            <div class="col col-7">
                  <img class="frame-icon3" alt="" src="frame.png">          
                  <div class="tacos-al-pastor">Culinary Analytics</div>
            </div>
            <div class="col col-2">
                  <img class="outline-settings-fine-tunin" alt="" src="search.png">                  
                  <div class="revenue">Search</div>
            </div>
            <div class="col col-1">
                  <img class="bold-settings-fine-tuning" alt="" src="notify.png">          
            </div>
            <div class="col col-2">
                <img class="avatar-image-icon" alt="" src="Avatar-Image.png">        
                <div class="alex-t-ruben-parent">
                      <div class="revenue">Alex T Ruben</div>
                      <div class="alextruben12gmailcom">alextruben12gmail.com</div>
                </div>
                <img class="outline-settings-fine-tunin" alt="" src="arrow-down.png">        
            </div>
      </div>
</div>