.order-management-inventory-child {
    position: absolute;
    top: 122px;
    left: 352px;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    background-color: #fff;
    width: 1536px;
    height: 806px;
}
.total-24-orders {
    position: relative;
    font-weight: 500;
}
.outline-arrows-alt-arrow-l {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.outline-arrows-alt-arrow-l-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.wrapper {
    width: 48px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #e4e4e5;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.container {
    width: 48px;
    border-radius: 8px;
    background-color: #ec6518;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
    color: #fff;
}
.frame-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 18px;
}
.outline-arrows-alt-arrow-l1 {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
}
.frame-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-size: 16px;
    color: #23222a;
}
.total-24-orders-parent {
    position: absolute;
    top: 840px;
    left: 376px;
    border-radius: 12px;
    background-color: #f8f8fa;
    width: 1488px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    box-sizing: border-box;
    color: #807f85;
}
.order-management-inventory-item {
    position: absolute;
    top: 362px;
    left: calc(50% - 584px);
    border-radius: 8px;
    background-color: #f8f8fa;
    width: 1488px;
    height: 54px;
}
.action {
    position: absolute;
    top: 324px;
    left: 1783px;
    font-size: 16px;
    font-weight: 500;
    color: #807f85;
}
.id-no {
    width: 60px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.date {
    width: 139px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.item-name {
    width: 160px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.qty {
    width: 90px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.amount {
    width: 120px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.payment {
    width: 124px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.address {
    width: 180px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.order {
    width: 120px;
    position: relative;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    flex-shrink: 0;
}
.id-no-parent {
    position: absolute;
    top: 324px;
    left: 392px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    font-size: 16px;
    color: #807f85;
}
.frame-child {
    width: 1px;
    position: relative;
    background-color: #d9d9d9;
    height: 24px;
}
.outline-messages-conversati-parent {
    position: absolute;
    top: 3px;
    left: 1334px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.div4 {
    position: absolute;
    top: 3px;
    left: 0px;
    font-weight: 500;
}
.jun-0924-am {
    position: absolute;
    top: 3px;
    left: 100px;
    font-weight: 500;
}
.cauliflower {
    position: absolute;
    top: 3px;
    left: 279px;
    font-weight: 500;
}
.div5 {
    position: absolute;
    top: 3px;
    left: 479px;
    font-weight: 500;
}
.div6 {
    position: absolute;
    top: 3px;
    left: 609px;
    font-weight: 500;
}
.beverton-or-97005 {
    position: absolute;
    top: 3px;
    left: 933px;
    font-weight: 500;
}
.cash1 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 21px;
}
.cash {
    position: absolute;
    top: 4px;
    left: 769px;
    font-size: 16px;
    font-weight: 500;
    color: #27ae60;
}
.completed-wrapper {
    position: absolute;
    top: 0px;
    left: 1159px;
    border-radius: 8px;
    background-color: rgba(39, 174, 96, 0.08);
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    box-sizing: border-box;
    font-size: 16px;
    color: #27ae60;
}
.frame-container {
    width: 1456px;
    position: relative;
    height: 30px;
}
.frame-inner {
    width: 1488px;
    position: relative;
    background-color: #e4e4e5;
    height: 1px;
}
.online {
    position: absolute;
    top: 4px;
    left: 769px;
    font-size: 16px;
    font-weight: 500;
    color: #2f80ed;
}
.cancelled-wrapper {
    position: absolute;
    top: 0px;
    left: 1159px;
    border-radius: 8px;
    background-color: rgba(235, 87, 87, 0.08);
    width: 108px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    box-sizing: border-box;
    font-size: 16px;
    color: #eb5757;
}
.pending {
    position: absolute;
    top: 4px;
    left: 769px;
    font-size: 16px;
    font-weight: 500;
    color: #ec6518;
}
.on-going-wrapper {
    position: absolute;
    top: 0px;
    left: 1159px;
    border-radius: 8px;
    background-color: rgba(242, 153, 74, 0.08);
    width: 108px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    box-sizing: border-box;
    font-size: 16px;
    color: #f2994a;
}
.group-parent {
    position: absolute;
    top: 382px;
    left: 376px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 18px;
}
.order-management {
    position: absolute;
    top: 148.5px;
    left: 376px;
    font-size: 32px;
    font-weight: 600;
}
.inventory-orders-wrapper {
    width: 164px;
    box-shadow: 2px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    box-sizing: border-box;
}
.customer-orders-wrapper {
    width: 164px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    box-sizing: border-box;
}
.frame-parent6 {
    border-radius: 16px;
    background-color: #f6f6f8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 12px;
}
.outline-settings-fine-tunin {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.outline-settings-fine-tunin-parent {
    width: 260px;
    border-radius: 8px;
    background-color: #f8f8fa;
    border: 1px solid #e4e4e5;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 24px;
    gap: 8px;
}
.outline-settings-fine-tunin1 {
    width: 20px;
    position: relative;
    border-radius: 5px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.frame-parent8 {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #ec6518;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 20px;
    gap: 24px;
    color: #23222a;
}
.frame-parent7 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    color: #807f85;
}
.frame-parent5 {
    position: absolute;
    top: 214px;
    left: 376px;
    width: 1488px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}
.order-management-inventory-inner {
    position: absolute;
    top: 90px;
    left: 0px;
    background-color: #fff;
    border-right: 1px solid #e4e4e5;
    box-sizing: border-box;
    width: 320px;
    height: 870px;
}
.order-management-inventory-child1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e5;
    box-sizing: border-box;
    width: 1920px;
    height: 90px;
}
.frame-icon {
    width: 32px;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.culinary-analytics {
    position: relative;
    font-weight: 600;
}
.frame-parent9 {
    position: absolute;
    top: 29px;
    left: 51px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    color: #2f5a76;
}
.outline-settings-fine-tunin3 {
    width: 24px;
    position: relative;
    border-radius: 5px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.outline-settings-fine-tunin-container {
    align-self: stretch;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 20px;
    gap: 12px;
}
.outline-settings-fine-tunin-parent4 {
    align-self: stretch;
    border-radius: 8px;
    background-color: #2f5a76;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 20px;
    gap: 12px;
    color: #fff;
}
.frame-parent10 {
    position: absolute;
    top: 114px;
    left: 24px;
    width: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.order-management-inventory-child2 {
    position: absolute;
    top: 0px;
    left: 319px;
    background-color: #e4e4e5;
    width: 1px;
    height: 90px;
}
.avatar-image-icon {
    width: 56px;
    position: relative;
    border-radius: 8px;
    height: 56px;
    object-fit: cover;
}
.alextruben12gmailcom {
    position: relative;
    font-size: 16px;
    color: #807f85;
}
.alex-t-ruben-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.avatar-image-parent {
    position: absolute;
    top: 17px;
    left: 1603px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.outline-settings-fine-tunin-wrapper {
    position: absolute;
    top: 17px;
    left: 1527px;
    border-radius: 8px;
    background-color: #f8f8fa;
    border: 1px solid #e4e4e5;
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.outline-settings-fine-tunin-parent5 {
    position: absolute;
    top: 17px;
    left: 1027px;
    border-radius: 8px;
    background-color: #f8f8fa;
    border: 1px solid #e4e4e5;
    box-sizing: border-box;
    width: 480px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 24px;
    gap: 8px;
    font-size: 16px;
    color: #807f85;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background: linear-gradient(127.9deg, #fcf8e4, #fefdf5 32.5%, #fcf8e4);
    width: 272px;
    height: 240px;
}
.pb0461-175-01-1-icon {
    position: absolute;
    top: 88px;
    left: 107px;
    width: 165px;
    height: 152px;
    object-fit: cover;
}
.add-new-recipes {
    margin: 0;
}
.you-can-spice {
    width: 216px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #807f85;
    display: inline-block;
}
.add-new-recipes-into-your-menu-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.add-recipe-wrapper {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #ec6518;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    font-size: 14px;
    color: #ec6518;
}
.frame-parent11 {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.rectangle-parent {
    position: absolute;
    top: 688px;
    left: 24px;
    width: 272px;
    height: 240px;
}
.order-management-inventory {
    width: 100%;
    position: relative;
    background-color: #f8f8fa;
    height: 960px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #23222a;
    font-family: 'General Sans';
}

