@import 'bootstrap/scss/bootstrap';

* {
    font-family: 'General Sans', sans-serif;
    line-height: 1;
}

.logo {
    float: left;
    margin-right: 1em;
}

input {
    background-color: transparent;
    border: 0;
}

html, body, div.container-fluid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.app-name {    
    display: inline-block;
    background-color: #fff;
    text-align: left;
    font-size: 28px;
    color: #2f5a76;
    font-weight: 600;
    vertical-align: middle;
}

div.align-right {
    position: relative;
    width: 100%;
    text-align: right;
}
