.expenses-child {
    position: absolute;
    top: 90px;
    left: 0px;
    background-color: #fff;
    border-right: 1px solid #e4e4e5;
    box-sizing: border-box;
    width: 320px;
    height: 870px;
}
.expenses-item {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e5;
    box-sizing: border-box;
    width: 1920px;
    height: 90px;
}
.frame-icon {
    width: 32px;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.culinary-analytics {
    position: relative;
    font-weight: 600;
}
.frame-parent {
    position: absolute;
    top: 29px;
    left: 51px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-size: 20px;
    color: #2f5a76;
}
.outline-settings-fine-tunin {
    width: 24px;
    position: relative;
    border-radius: 5px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.dashboard {
    position: relative;
    font-weight: 500;
}
.outline-settings-fine-tunin-parent {
    align-self: stretch;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 20px;
    gap: 12px;
}
.outline-food-kitchen-oven {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.bold-money-wallet-money-parent {
    align-self: stretch;
    border-radius: 8px;
    background-color: #2f5a76;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 20px;
    gap: 12px;
    color: #fff;
}
.frame-group {
    position: absolute;
    top: 114px;
    left: 24px;
    width: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 20px;
}
.expenses-inner {
    position: absolute;
    top: 0px;
    left: 319px;
    background-color: #e4e4e5;
    width: 1px;
    height: 90px;
}
.avatar-image-icon {
    width: 56px;
    position: relative;
    border-radius: 8px;
    height: 56px;
    object-fit: cover;
}
.alextruben12gmailcom {
    position: relative;
    font-size: 16px;
    color: #807f85;
}
.alex-t-ruben-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.avatar-image-parent {
    position: absolute;
    top: 17px;
    left: 1603px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-size: 20px;
}
.outline-settings-fine-tunin-wrapper {
    position: absolute;
    top: 17px;
    left: 1527px;
    border-radius: 8px;
    background-color: #f8f8fa;
    border: 1px solid #e4e4e5;
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.outline-settings-fine-tunin-parent2 {
    position: absolute;
    top: 17px;
    left: 1027px;
    border-radius: 8px;
    background-color: #f8f8fa;
    border: 1px solid #e4e4e5;
    box-sizing: border-box;
    width: 480px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 24px;
    gap: 8px;
    font-size: 16px;
    color: #807f85;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background: linear-gradient(127.9deg, #fcf8e4, #fefdf5 32.5%, #fcf8e4);
    width: 272px;
    height: 240px;
}
.pb0461-175-01-1-icon {
    position: absolute;
    top: 88px;
    left: 107px;
    width: 165px;
    height: 152px;
    object-fit: cover;
}
.add-new-recipes {
    margin: 0;
}
.you-can-spice {
    width: 216px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #807f85;
    display: inline-block;
}
.add-new-recipes-into-your-menu-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.add-recipe-wrapper {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #ec6518;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    font-size: 14px;
    color: #ec6518;
}
.frame-container {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.rectangle-parent {
    position: absolute;
    top: 688px;
    left: 24px;
    width: 272px;
    height: 240px;
    font-size: 20px;
}
.rectangle-div {
    position: absolute;
    top: 122px;
    left: 352px;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    background-color: #fff;
    width: 1536px;
    height: 806px;
}
.frame-child {
    width: 8px;
    position: relative;
    border-radius: 50%;
    background-color: #57ca94;
    height: 8px;
}
.ellipse-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.div {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #807f85;
}
.frame-parent2 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.frame-wrapper {
    flex: 1;
    border-radius: 16px;
    background-color: #fff;
    border: 1px solid #e4e4e5;
    box-sizing: border-box;
    height: 64px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
}
.frame-item {
    width: 8px;
    position: relative;
    border-radius: 50%;
    background-color: #ec6518;
    height: 8px;
}
.frame-inner {
    width: 8px;
    position: relative;
    border-radius: 50%;
    background-color: #ffc248;
    height: 8px;
}
.frame-parent1 {
    position: absolute;
    top: 221px;
    left: 1017px;
    width: 839px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.expenses2 {
    position: absolute;
    top: 154px;
    left: 384px;
    font-size: 32px;
    font-weight: 600;
}
.select-expense-category {
    flex: 1;
    position: relative;
    font-weight: 500;
}
.frame-icon1 {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.select-expense-category-parent {
    align-self: stretch;
    border-radius: 8px;
    background-color: #f8f8fa;
    border: 1px solid #e4e4e5;
    box-sizing: border-box;
    height: 52px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 24px;
    gap: 8px;
}
.enter-expense-amount-wrapper {
    flex: 1;
    border-radius: 8px;
    background-color: #f8f8fa;
    border: 1px solid #e4e4e5;
    box-sizing: border-box;
    height: 52px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 24px;
}
.frame-parent9 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    color: #807f85;
}
.outline-time-calendar-mini {
    width: 20px;
    position: relative;
    border-radius: 5px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.frame-parent8 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.frame-wrapper3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.outline-settings-fine-tunin-parent3 {
    width: 520px;
    border-radius: 8px;
    background-color: #f8f8fa;
    border: 1px dashed #e4e4e5;
    box-sizing: border-box;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    gap: 8px;
    text-align: center;
    color: #807f85;
}
.frame-parent7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.add-expense-wrapper {
    align-self: stretch;
    border-radius: 8px;
    background-color: #2f5a76;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    font-size: 20px;
    color: #fff;
}
.frame-parent6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.frame-child1 {
    width: 1px;
    position: relative;
    background-color: #e4e4e5;
    height: 632px;
}
.frame-parent5 {
    position: absolute;
    top: 221px;
    left: 384px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 56px;
    font-size: 16px;
}
.expenses-child1 {
    position: absolute;
    top: 363px;
    left: calc(50% + 57px);
    border-radius: 8px;
    background-color: #f8f8fa;
    width: 839px;
    height: 54px;
}
.category {
    position: absolute;
    top: 325px;
    left: 1041px;
    font-size: 16px;
    font-weight: 500;
    color: #807f85;
}
.date {
    position: absolute;
    top: 325px;
    left: 1217px;
    font-size: 16px;
    font-weight: 500;
    color: #807f85;
}
.amount {
    position: absolute;
    top: 325px;
    left: 1514px;
    font-size: 16px;
    font-weight: 500;
    color: #807f85;
}
.image {
    position: absolute;
    top: 325px;
    left: 1396px;
    font-size: 16px;
    font-weight: 500;
    color: #807f85;
}
.invoice-amount {
    position: absolute;
    top: 325px;
    left: 1623px;
    font-size: 16px;
    font-weight: 500;
    color: #807f85;
}
.action {
    position: absolute;
    top: 325px;
    left: 1783px;
    font-size: 16px;
    font-weight: 500;
    color: #807f85;
}
.utilities {
    position: absolute;
    top: 387px;
    left: 1041px;
    font-weight: 500;
}
.insurance {
    position: absolute;
    top: 460px;
    left: 1041px;
    font-weight: 500;
}
.bank-fees {
    position: absolute;
    top: 533px;
    left: 1041px;
    font-weight: 500;
}
.employee-benefits {
    position: absolute;
    top: 606px;
    left: 1041px;
    font-weight: 500;
}
.advertising {
    position: absolute;
    top: 679px;
    left: 1041px;
    font-weight: 500;
}
.supplies {
    position: absolute;
    top: 752px;
    left: 1041px;
    font-weight: 500;
}
.software {
    position: absolute;
    top: 825px;
    left: 1041px;
    font-weight: 500;
}
.jun-0924-am {
    position: absolute;
    top: 387px;
    left: 1217px;
    font-weight: 500;
}
.jun-0924-am1 {
    position: absolute;
    top: 460px;
    left: 1217px;
    font-weight: 500;
}
.jun-0924-am2 {
    position: absolute;
    top: 533px;
    left: 1217px;
    font-weight: 500;
}
.jun-0924-am3 {
    position: absolute;
    top: 606px;
    left: 1217px;
    font-weight: 500;
}
.jun-0924-am4 {
    position: absolute;
    top: 679px;
    left: 1217px;
    font-weight: 500;
}
.jun-0924-am5 {
    position: absolute;
    top: 752px;
    left: 1217px;
    font-weight: 500;
}
.jun-0924-am6 {
    position: absolute;
    top: 825px;
    left: 1217px;
    font-weight: 500;
}
.div3 {
    position: absolute;
    top: 387px;
    left: 1514px;
    font-weight: 500;
}
.div4 {
    position: absolute;
    top: 460px;
    left: 1514px;
    font-weight: 500;
}
.div5 {
    position: absolute;
    top: 533px;
    left: 1514px;
    font-weight: 500;
}
.div6 {
    position: absolute;
    top: 606px;
    left: 1514px;
    font-weight: 500;
}
.div7 {
    position: absolute;
    top: 679px;
    left: 1514px;
    font-weight: 500;
}
.div8 {
    position: absolute;
    top: 752px;
    left: 1514px;
    font-weight: 500;
}
.div9 {
    position: absolute;
    top: 825px;
    left: 1514px;
    font-weight: 500;
}
.div10 {
    position: absolute;
    top: 387px;
    left: 1629px;
    font-weight: 500;
}
.div11 {
    position: absolute;
    top: 460px;
    left: 1629px;
    font-weight: 500;
}
.div12 {
    position: absolute;
    top: 533px;
    left: 1629px;
    font-weight: 500;
}
.div13 {
    position: absolute;
    top: 606px;
    left: 1629px;
    font-weight: 500;
}
.div14 {
    position: absolute;
    top: 679px;
    left: 1629px;
    font-weight: 500;
}
.div15 {
    position: absolute;
    top: 752px;
    left: 1629px;
    font-weight: 500;
}
.div16 {
    position: absolute;
    top: 825px;
    left: 1629px;
    font-weight: 500;
}
.outline-essentional-ui-tr {
    position: absolute;
    top: 387px;
    left: 1802px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.outline-essentional-ui-tr1 {
    position: absolute;
    top: 460px;
    left: 1802px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.outline-essentional-ui-tr2 {
    position: absolute;
    top: 533px;
    left: 1802px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.outline-essentional-ui-tr3 {
    position: absolute;
    top: 606px;
    left: 1802px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.outline-essentional-ui-tr4 {
    position: absolute;
    top: 679px;
    left: 1802px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.outline-essentional-ui-tr5 {
    position: absolute;
    top: 752px;
    left: 1802px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.outline-essentional-ui-tr6 {
    position: absolute;
    top: 825px;
    left: 1802px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.expenses-child2 {
    position: absolute;
    top: 435px;
    left: 1017px;
    background-color: #e4e4e5;
    width: 839px;
    height: 1px;
}
.expenses-child3 {
    position: absolute;
    top: 508px;
    left: 1017px;
    background-color: #e4e4e5;
    width: 839px;
    height: 1px;
}
.expenses-child4 {
    position: absolute;
    top: 581px;
    left: 1017px;
    background-color: #e4e4e5;
    width: 839px;
    height: 1px;
}
.expenses-child5 {
    position: absolute;
    top: 654px;
    left: 1017px;
    background-color: #e4e4e5;
    width: 839px;
    height: 1px;
}
.expenses-child6 {
    position: absolute;
    top: 727px;
    left: 1017px;
    background-color: #e4e4e5;
    width: 839px;
    height: 1px;
}
.expenses-child7 {
    position: absolute;
    top: 800px;
    left: 1017px;
    background-color: #e4e4e5;
    width: 839px;
    height: 1px;
}
.expenses-child8 {
    position: absolute;
    top: 370px;
    left: 1867px;
    border-radius: 40px;
    background-color: #f3f3f5;
    width: 6px;
    height: 492px;
}
.expenses-child9 {
    position: absolute;
    top: 370px;
    left: 1867px;
    border-radius: 40px;
    background-color: #c9c8d1;
    width: 6px;
    height: 38px;
}
.reset-all-expenses {
    position: absolute;
    top: 883px;
    left: 384px;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 500;
    color: #ec6518;
}
.ellipse-icon {
    width: 40px;
    position: relative;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
}
.ellipse-parent1 {
    position: absolute;
    top: 379px;
    left: 1396px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.ellipse-parent2 {
    position: absolute;
    top: 452px;
    left: 1396px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.ellipse-parent3 {
    position: absolute;
    top: 525px;
    left: 1396px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.ellipse-parent4 {
    position: absolute;
    top: 598px;
    left: 1396px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.ellipse-parent5 {
    position: absolute;
    top: 671px;
    left: 1396px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.ellipse-parent6 {
    position: absolute;
    top: 744px;
    left: 1396px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.ellipse-parent7 {
    position: absolute;
    top: 817px;
    left: 1396px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.expenses {
    width: 100%;
    position: relative;
    background-color: #f8f8fa;
    height: 960px;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    color: #23222a;
    font-family: 'General Sans';
}

