<div class="row">
      <div class="col col-2">
            <br /><img class="logo" alt="" src="frame.png">    
            <p class="app-name">Culinary Analytics</p>
      </div>
      <div class="col col-2" >&nbsp;</div>
      <div class="col col-4 align-bottom">     
            <br /><div class="input-group mb-3" *ngIf="isAuthenticated">
                  <input class="form-control" name="searchValue" [(ngModel)]="searchValue" placeholder="Search" />
                  <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1"><img alt="" src="search.png"></span>
                  </div>
            </div>            
      </div>
      <div class="col col-2" >&nbsp;</div>
      <div class="col col-2">       
            <div class="input-group mb-3" *ngIf="isAuthenticated">
                  <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><img class="avatar-image-icon" alt="" [src]="userInfo.imageUrl"></span>
                  </div>
                  <div class="userinfo p-3"><p class="font-weight-bolder">{{userInfo.firstName}} {{userInfo.lastName}}</p><p class="font-italic">{{userInfo.email}}</p></div>
                  <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><img alt="" src="arrow-down.png"></span>
                  </div>
            </div> 
      </div>
</div>