.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #357198;
    width: 1100px;
    height: 960px;
}
.mask-group-child {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 1100px;
    height: 960px;
    object-fit: cover;
    mix-blend-mode: darken;
}
.image-8-icon {
    position: absolute;    
    object-fit: contain; 
    top: 297px;
    left: 125px;
    border-radius: 12px;
    width: 88.7%;
    object-fit: cover;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 8px 8px 50px rgba(68, 62, 32, 0.12);
    border-radius: 16px;
    background: linear-gradient(127.9deg, #fcf8e4, #fefdf5 32.5%, #fcf8e4);
    width: 272px;
    height: 240px;
}
.pb0461-175-01-1-icon {
    position: absolute;
    top: 88px;
    left: 107px;
    width: 165px;
    height: 152px;
    object-fit: cover;
}
.add-new-recipes {
    margin: 0;
}
.add-new-recipes-container {
    position: relative;
    font-weight: 600;
}
.you-can-spice {
    width: 216px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #807f85;
    display: inline-block;
}
.add-new-recipes-into-your-menu-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.add-recipe {
    position: relative;
    font-weight: 500;
}
.add-recipe-wrapper {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #ec6518;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    font-size: 14px;
    color: #ec6518;
    cursor: pointer;
}
.frame-parent {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.rectangle-group {
    position: absolute;
    top: 700px;
    left: 66px;
    width: 272px;
    height: 240px;
}
.mask-group-item {
    position: absolute;
    bottom: 0px;
    left: 1079px;
    filter: blur(100px);
    background-color: #204089;
    width: 38px;
    height: 940px;
    opacity: 0.5;
}
.mask-group {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 1100px;
    height: 960px;
}
.please-sign-up {
    width: 450px;
    position: relative;
    font-size: 28px;
    font-weight: 500;
    display: inline-block;
    opacity: 0.5;
}
.welcome-here-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-wrapper {
    position: absolute;
    top: 68px;
    left: 68px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 48px;
    color: #fff;
}
.rectangle-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1100px;
    height: 960px;
}
.please-sign-up1 {
    width: 371px;
    position: relative;
    font-size: 20px;
    color: #807f85;
    display: inline-block;
}
.restaurant-information-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
}
.outline-settings-fine-tunin {
    width: 24px;
    position: relative;
    border-radius: 3px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.outline-settings-fine-tunin-parent {
    width: 420px;
    border-radius: 8px;
    background-color: #f8f8fa;
    border: 1px solid #e4e4e5;
    box-sizing: border-box;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 24px;
    gap: 8px;
}
.frame-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    font-size: 16px;
    color: #807f85;
}
.continue-wrapper {
    width: 420px;
    border-radius: 8px;
    background-color: #2f5a76;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
}
.frame-group {
    position: absolute;
    top: 206px;
    left: 1156px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
    font-size: 32px;
}
.frame-icon {
    width: 36px;
    position: relative;
    height: 36px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.frame-parent1 {
    position: absolute;
    top: 56px;
    left: 1156px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-size: 28px;
    color: #2f5a76;
}
.outline-arrows-alt-arrow-l {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.outline-arrows-alt-arrow-l-parent {
    position: absolute;
    top: 150px;
    left: 1156px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
}
.onboarding-2 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 960px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #23222a;
    font-family: 'General Sans';
}
.continue-button {
    width: 420px;
    border-radius: 8px;
    background-color: #2f5a76;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
    text-decoration: none; /* Corrected property name */
    border: none; /* Remove any default border */
    outline: none; /* Remove focus outline */
    cursor: pointer; /* Add a pointer cursor on hover */
}
.recipes, .add-new-recipes-container, .you-can-spice, .add-new-recipes-into-your-menu-parent, .add-recipe, .add-recipe-wrapper {
    font-family: 'General Sans', sans-serif;
}