<div class="frame-parent16">
    <div class="outline-food-kitchen-oven-parent">
          <img class="outline-settings-fine-tunin" alt="" src="dash.png">          
          <div class="revenue">Dashboard</div>
    </div>
    <div class="outline-food-kitchen-oven-parent">
          <img class="outline-settings-fine-tunin" alt="" src="chef-hat.png">          
          <div class="revenue">Recipes</div>
    </div>
    <div class="outline-food-kitchen-oven-parent">
          <img class="outline-settings-fine-tunin" alt="" src="box.png">          
          <div class="revenue">Inventory</div>
    </div>
    <div class="outline-food-kitchen-oven-parent">
          <img class="outline-settings-fine-tunin" alt="" src="sale.png">          
          <div class="revenue">Sales</div>
    </div>
    <div class="outline-food-kitchen-oven-parent">
          <img class="outline-settings-fine-tunin" alt="" src="Oven-Mitts.png">          
          <div class="revenue">Daily Production</div>
    </div>
    <div class="outline-food-kitchen-oven-parent">
          <img class="outline-settings-fine-tunin" alt="" src="orders.png">          
          <div class="revenue">Orders Management</div>
    </div>
    <div class="outline-food-kitchen-oven-parent">
          <img class="outline-settings-fine-tunin" alt="" src="Wallet-Money.png">          
          <div class="revenue">Expenses</div>
    </div>
</div>
