<div class="onboarding-1">
    <div class="rectangle-parent">
        <div class="group-child">
        </div>
        <div class="mask-group">
            <img class="mask-group-child" alt="" src="public/images/rectangle-13.png">
            <img class="image-8-icon" alt="" src="./public/images/image-8.png">
            <div class="rectangle-group">
                <div class="group-item">
                </div>
                <img class="pb0461-175-01-1-icon" alt="" src="random-pan.png">

                <div class="frame-parent">
                    <div class="add-new-recipes-into-your-menu-parent">
                        <div class="add-new-recipes-container">
                            <p class="add-new-recipes">Add New Recipes</p>
                            <p class="add-new-recipes">Into Your Menu</p>
                        </div>
                        <div class="you-can-spice">You can spice up your menu by adding new recipes.</div>
                    </div>
                    <div class="add-recipe-wrapper">
                        <button class="add-recipe">+ Add Recipe</button>
                    </div>
                </div>
            </div>
            <div class="mask-group-item">
            </div>
        </div>
        <div class="frame-wrapper">
            <div class="welcome-here-parent">
                <div class="add-new-recipes-container">Welcome here !</div>
                <div class="please-sign-up">Please sign up to get your account with culinary analytics</div>
            </div>
        </div>
    </div>
    <div class="frame-group">
        <div class="frame-container">
            <div class="frame-div">
                <img class="frame-icon" alt="" src="logo.png">
                <div class="add-new-recipes-container">Culinary Analytics</div>
            </div>
            <div class="sign-up-parent">
                <div class="add-new-recipes-container">Sign Up!</div>
                <div class="please-sign-up1">Please sign up to get your account with culinary analytics</div>
            </div>
        </div>
        <div class="frame-parent1">
            <div class="owners-name-parent">
                <img class="owners-name-icon" alt="" src="textfield.png">
                <input type="text" placeholder="Owners Name" style="color: #807F85; font-size: 16px; font-family: General Sans; font-weight: 500; border: none; background: transparent; width: 100%; outline: none;">
            </div>
            <div class="owners-name-parent">
                <img class="owners-name-icon" alt="" src="text_signature.png">
                <input type="text" placeholder="Username" style="color: #807F85; font-size: 16px; font-family: General Sans; font-weight: 500; border: none; background: transparent; width: 100%; outline: none;">
            </div>
            <div class="owners-name-parent">
                <img class="owners-name-icon" alt="" src="textfield_key.png">
                <input type="password" placeholder="Password" style="color: #807F85; font-size: 16px; font-family: General Sans; font-weight: 500; border: none; background: transparent; width: 100%; outline: none;">
            </div>
            <div class="owners-name-parent">
                <img class="owners-name-icon" alt="" src="textfield_key.png">
                <input type="password" placeholder="Confirm Password" style="color: #807F85; font-size: 16px; font-family: General Sans; font-weight: 500; border: none; background: transparent; width: 100%; outline: none;">
            </div>
        </div>
                <button class="sign-in-button">Get Started</button>
    </div>
    <div class="already-have-an-account-parent">
        <div class="already-have-an">Already Have an account?</div>
        <a href="/login" class="sign-in">Sign In</a>
    </div>
</div>
